@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.woff2') format('woff2'),
    url('../font/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Bold.woff2') format('woff2'),
    url('../font/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.woff2') format('woff2'),
    url('../font/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.wrap {
    width: 1020px;
    margin: 300px auto 0;
    font-family: Roboto, Arial, sans-serif;
    /*    outline: 1px #dadada solid;*/
}

.block {
    margin: 0 0 33px 0;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5D62B5;
}

.block::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 24px;
    margin-right: 16px;
    background: url("../img/mark.png") center / 170% no-repeat;
}

.header {
    margin: 0 0 68px 0;
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    color: #000000;
}

.items {
    font-size: 0;
}

.item {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    font-size: 16px;
}

.item:nth-child(1) {
    background: url("../img/dog_love.png") left top / 63px no-repeat;
}

.item:nth-child(2) {
    background: url("../img/dog_vet.png") left top / 63px no-repeat;
}

.item:nth-child(3) {
    background: url("../img/dog_stream.png") left top / 63px no-repeat;
}

.item:not(:last-child) {
    padding-right: 24px;
}

.item_content {
    padding-left: 86px;
}

.item_title {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #F2726F;
    margin-bottom: 20px;
}

.item_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}